a { border-bottom: 1px dotted #33a; color: #33a; text-decoration: none; }
a.adobe { border-bottom: 1px dotted #f00; color: #f00; }
body { background-color: #eee; color: #333; font: 14px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; line-height: 2.0em; padding: 10px 5% 0; text-shadow: 0 -1px #eee, 0 1px #eee; }
h2 { padding-top: 40px; }
img { padding: 20px 0 20px 40px; }
li { padding-bottom: 10px; }
table { border: 1px solid #000; margin: 20px 0 20px 40px; }
table thead { border-bottom: 1px dotted #000; }
table th { padding: 2px 20px; text-align: left; }
table td { padding: 2px 20px; text-align: left; }
table td code { text-align: left; }
